@use 'variables' as v; 

h1,h2,h3{
    font-family: v.$fuente_principal;
    margin: 0 0 v.$separacion 0; 
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.6rem;
    color: v.$primario;

    span{
        font-size:1.8rem;
        color: v.$secundario;
        display: block;
    }
    &::after{
        content: '';
        display: block;
        width: 12rem;
        height: 12rem;
        margin: 0 auto;
        background-image: url(../img/cafe.svg);
        background-repeat: no-repeat;
    }
}


.heading-blanco{
    @extend h2;             //comando para heredar los atributos de h2. Puede heredar clases e id
    color: v.$blanco;
    
    span{
        color: v.$blanco;
    }
    &::after{
        display: none;
    }
}
h3{
    font-size: 3.2rem;
}