//El guion bajo significa que el archivo será incluido en otro
@use '../base/variables' as v;
@use '../base/mixins' as mx;


.header{
    padding: 5rem 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    
    @include mx.tablet { 
        min-height: 70rem; 
     }

    
 
    &::before{
        content: '';
        background-color: v.$negro;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.6;
    }

    .contenido-header{
        position: relative;
        h1{
            text-align: center;
            color: v.$blanco;
            text-transform: uppercase; 
            margin: 5rem 0rem; 
            @include mx.tablet { 
                margin-top: 10rem;
             }
        }
    }
}

.no-webp .header-inicio{
    background-image: url(../img/header_inicio.img);
}
.webp .header-inicio{
    background-image: url(../img/header_inicio.webp);
}

.no-webp .header-nosotros{
    background-image: url(../img/header_nosotros.jpg);
}

.webp .header-nosotros{
    background-image: url(../img/header_nosotros.webp);
}


.no-webp .header-proceso{
    background-image: url(../img/header_proceso.jpg);
}
.webp .header-proceso{
    background-image: url(/build/img/header_proceso.webp);
}


.no-webp .header-menu{
    background-image: url(../img/header_menu.jpg);
}
.webp .header-menu{
    background-image: url(../img/header_menu.webp);
}


.no-webp .header-galeria{
    background-image: url(../img/header_galeria.jpg);
}
.webp .header-galeria{
    background-image: url(../img/header_galeria.webp);
}

.no-webp .header-contacto{
    background-image: url(../img/header_contacto.jpg);
}

.webp .header-contacto{
    background-image: url(../img/header_contacto.webp);
}
