@use '../base/variables' as v;
@use '../base/mixins' as mx;

.nav-principal{
    display: flex;
    flex-direction: column;
    @include mx.tablet { 
        flex-direction: row;
     }

    a{
        text-align: center;
        color: v.$blanco;

        &:hover{
            color: v.$primario;
        }
    }
}